.banner {
  height: 650px;
  color: white;
  background-repeat: no-repeat;
  background-image: url(/img/luca-bravo-XJXWbfSo2f0-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.slider img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nested img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}