.banner {
  height: 650px;
  color: white;
  background-repeat: no-repeat;
  background-image: url(/img/luca-bravo-XJXWbfSo2f0-unsplash.jpg);
  background-position: center;
  background-size: cover;
}